Schemas/LMF SynSem Specification/Specification/SynSemSpec.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Title</title>
         </titleStmt>
         <publicationStmt>
            <p>Publication Information</p>
         </publicationStmt>
         <sourceDesc>
            <p>Information about the source</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="LMFSynSem" start="TEI teiCorpus">
            <!-- Letting new syn-sem elements be in their own modules -->
            <moduleSpec ident="SynSemModule"/>
            <!-- Importing all other modules for the time being -->
            <moduleRef key="tei"/>
            <!-- required -->
            <moduleRef key="core"/>
            <!-- required -->
            <moduleRef key="analysis"/>
            <moduleRef key="certainty"/>
            <moduleRef key="corpus"/>
            <moduleRef key="dictionaries"/>
            <moduleRef key="drama"/>
            <moduleRef key="figures"/>
            <moduleRef key="gaiji"/>
            <moduleRef key="header"/>
            <!-- required -->
            <moduleRef key="iso-fs"/>
            <moduleRef key="linking"/>
            <moduleRef key="msdescription"/>
            <moduleRef key="namesdates"/>
            <moduleRef key="nets"/>
            <moduleRef key="spoken"/>
            <moduleRef key="textcrit"/>
            <moduleRef key="textstructure"/>
            <!-- required -->
            <moduleRef key="transcr"/>
            <moduleRef key="verse"/>
            <moduleRef key="tagdocs"/>

            <elementSpec ident="syntacticBehaviour" mode="add">
               <classes>
                  <memberOf key="att.global"/>
                  <memberOf key="model.morphLike"/>
               </classes>
               <content>
                  <elementRef key="desc" minOccurs="0"/>
                  <alternate maxOccurs="unbounded">
                     <elementRef key="ref"/>
                     <elementRef key="fs"/>
                  </alternate>
               </content>
            </elementSpec>

            <elementSpec ident="predicativeRepresentation" mode="add">
               <classes>
                  <memberOf key="att.global"/>
                  <memberOf key="model.entryPart.top"/>
               </classes>
               <content>
                  <elementRef key="desc" minOccurs="0"/>
                  <alternate maxOccurs="unbounded">
                     <elementRef key="ref"/>
                     <elementRef key="fs"/>
                     <elementRef key="synsemCorrespondances"/>
                  </alternate>
               </content>
            </elementSpec>

            <elementSpec ident="synsemCorrespondances" mode="add">
               <classes>
                  <memberOf key="att.global"/>
               </classes>
               <content>
                  <elementRef key="desc" minOccurs="0"/>
                  <alternate maxOccurs="unbounded">
                     <elementRef key="ref"/>
                     <elementRef key="fs"/>
                  </alternate>
               </content>
            </elementSpec>

            <elementSpec ident="subcategorizationFrame" mode="add">
               <classes>
                  <memberOf key="att.global"/>
                  <memberOf key="model.common"/>
               </classes>
               <content>
                  <elementRef key="desc" minOccurs="0"/>
                  <alternate maxOccurs="unbounded">
                     <elementRef key="ref"/>
                     <elementRef key="fs"/>
                     <elementRef key="SyntacticArgument"/>
                  </alternate>
               </content>
            </elementSpec>

            <elementSpec ident="SyntacticArgument" mode="add">
               <classes>
                  <memberOf key="att.global"/>
               </classes>
               <content>
                  <elementRef key="desc" minOccurs="0"/>
                  <elementRef key="fs"/>
               </content>
            </elementSpec>


            <elementSpec ident="SemanticPredicate" mode="add">
               <classes>
                  <memberOf key="att.global"/>
                  <memberOf key="model.common"/>
               </classes>
               <content>
                  <elementRef key="desc" minOccurs="0"/>
                  <alternate maxOccurs="unbounded">
                     <elementRef key="ref"/>
                     <elementRef key="fs"/>
                     <elementRef key="SemanticArgument"/>
                  </alternate>
               </content>
            </elementSpec>

            <elementSpec ident="SemanticArgument" mode="add">
               <classes>
                  <memberOf key="att.global"/>
               </classes>
               <content>
                  <elementRef key="desc" minOccurs="0"/>
                  <elementRef key="fs"/>
               </content>
            </elementSpec>
            
            
            <elementSpec ident="SynSemCorrespondence" mode="add">
               <classes>
                  <memberOf key="att.global"/>
                  <memberOf key="model.common"/>
               </classes>
               <content>
                  <elementRef key="desc" minOccurs="0"/>
                  <alternate minOccurs="0" maxOccurs="unbounded">
                     <elementRef key="ref"/>
                     <elementRef key="fs"/>
                     <elementRef key="SynSemArgMap"/>
                  </alternate>
               </content>
            </elementSpec>
            <!-- <SynSemArgMap synFeature="pos0" semFeature="arg0"/> -->
            <elementSpec ident="SynSemArgMap" mode="add">
               <classes>
                  <memberOf key="att.global"/>
               </classes>
               <content>
                  <elementRef key="desc" minOccurs="0"/>
                  <elementRef key="fs" minOccurs="0"/>
               </content>
               <attList>
                  <attDef ident="synFeature">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                  </attDef>
                  <attDef ident="semFeature">
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                  </attDef>
               </attList>
            </elementSpec>
            
         </schemaSpec>
      </body>
   </text>
</TEI>
